<% layout('../layout') %>
<div class="main-section d-block">
  <section class="section pt-0 bg-gray-2">
    <div class="container">
      <div class="complaint-preview-wrapper">
        <div class="complaint-content-title">
          <h2>範例名稱</h2>
        </div>
        <div class="complaint-content-intro">
          <iframe
            src="https://view.officeapps.live.com/op/embed.aspx?src=https://github.com/poychang/blog.poychang.net/raw/master/assets/post-files/THIS-IS-WORD.docx"
            width="100%"
            height="500px"
            frameborder="0"
          >
          </iframe>
          <div class="preview-file-btn">
            <div class="primary-btn">
              <button>檔案分享</button>
            </div>
            <div class="primary-btn">
              <button>檔案下載</button>
            </div>
            <div class="primary-btn">
              <button>書狀諮詢</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
