<% layout('../layout') %>
<div class="main-section d-block">
  <section class="section pt-0 bg-gray-2">
    <div class="container">
      <div class="complaint-type-swiper-wrapper">
        <div class="swiper complaint-type-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="/images/case-filter/婚姻.子女.png"
                width="100%"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img src="/images/case-filter/遺產繼承.png" width="100%" alt="" />
            </div>
            <div class="swiper-slide">
              <img
                src="/images/case-filter/車禍.交通違規.png"
                width="100%"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img src="/images/case-filter/刑事案件.png" width="100%" alt="" />
            </div>
            <div class="swiper-slide">
              <img
                src="/images/case-filter/債權債務處理.png"
                width="100%"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img src="/images/case-filter/消費糾紛.png" width="100%" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/images/case-filter/網路糾紛.png" width="100%" alt="" />
            </div>
            <div class="swiper-slide">
              <img
                src="/images/case-filter/租賃.不動產.png"
                width="100%"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img src="/images/case-filter/勞資糾紛.png" width="100%" alt="" />
            </div>
          </div>
        </div>
        <div class="swiper-prev">
          <img src="/images/lawyer-swiper/left-arrow.png" width="100%" alt="" />
        </div>
        <div class="swiper-next">
          <img
            src="/images/lawyer-swiper/right-arrow.png"
            width="100%"
            alt=""
          />
        </div>
      </div>
      <div class="swiper complaint-content-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="complaint-content-title">
              <h2>婚姻.子女</h2>
              <select name="" id="">
                <option value="">類別選項</option>
                <option>台北市</option>
                <option>新北市</option>
                <option>嘉義市</option>
              </select>
            </div>
            <div class="complaint-content-intro">
              <div class="complaint-content-intro-img">
                <img
                  src="https://picsum.photos/id/431/600/600"
                  width="100%"
                  alt=""
                />
              </div>
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>書狀名稱</th>
                    <th>更新日期</th>
                    <th>檔案分享</th>
                    <th>預覽範例</th>
                    <th>預留欄位</th>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                </tbody>
              </table>
              <div class="complaint-btn primary-btn">
                <button>書狀諮詢</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="complaint-content-title">
              <h2>遺產繼承</h2>
              <select name="" id="">
                <option value="">類別選項</option>
                <option>台北市</option>
                <option>新北市</option>
                <option>嘉義市</option>
              </select>
            </div>
            <div class="complaint-content-intro">
              <div class="complaint-content-intro-img">
                <img
                  src="https://picsum.photos/id/431/600/600"
                  width="100%"
                  alt=""
                />
              </div>
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>書狀名稱</th>
                    <th>更新日期</th>
                    <th>檔案分享</th>
                    <th>預覽範例</th>
                    <th>預留欄位</th>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                </tbody>
              </table>
              <div class="complaint-btn primary-btn">
                <button>書狀諮詢</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="complaint-content-title">
              <h2>車禍.交通違規</h2>
              <select name="" id="">
                <option value="">類別選項</option>
                <option>台北市</option>
                <option>新北市</option>
                <option>嘉義市</option>
              </select>
            </div>
            <div class="complaint-content-intro">
              <div class="complaint-content-intro-img">
                <img
                  src="https://picsum.photos/id/431/600/600"
                  width="100%"
                  alt=""
                />
              </div>
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>書狀名稱</th>
                    <th>更新日期</th>
                    <th>檔案分享</th>
                    <th>預覽範例</th>
                    <th>預留欄位</th>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                </tbody>
              </table>
              <div class="complaint-btn primary-btn">
                <button>書狀諮詢</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="complaint-content-title">
              <h2>刑事案件</h2>
              <select name="" id="">
                <option value="">類別選項</option>
                <option>台北市</option>
                <option>新北市</option>
                <option>嘉義市</option>
              </select>
            </div>
            <div class="complaint-content-intro">
              <div class="complaint-content-intro-img">
                <img
                  src="https://picsum.photos/id/431/600/600"
                  width="100%"
                  alt=""
                />
              </div>
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>書狀名稱</th>
                    <th>更新日期</th>
                    <th>檔案分享</th>
                    <th>預覽範例</th>
                    <th>預留欄位</th>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                </tbody>
              </table>
              <div class="complaint-btn primary-btn">
                <button>書狀諮詢</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="complaint-content-title">
              <h2>債權債務處理</h2>
              <select name="" id="">
                <option value="">類別選項</option>
                <option>台北市</option>
                <option>新北市</option>
                <option>嘉義市</option>
              </select>
            </div>
            <div class="complaint-content-intro">
              <div class="complaint-content-intro-img">
                <img
                  src="https://picsum.photos/id/431/600/600"
                  width="100%"
                  alt=""
                />
              </div>
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>書狀名稱</th>
                    <th>更新日期</th>
                    <th>檔案分享</th>
                    <th>預覽範例</th>
                    <th>預留欄位</th>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                </tbody>
              </table>
              <div class="complaint-btn primary-btn">
                <button>書狀諮詢</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="complaint-content-title">
              <h2>消費糾紛</h2>
              <select name="" id="">
                <option value="">類別選項</option>
                <option>台北市</option>
                <option>新北市</option>
                <option>嘉義市</option>
              </select>
            </div>
            <div class="complaint-content-intro">
              <div class="complaint-content-intro-img">
                <img
                  src="https://picsum.photos/id/431/600/600"
                  width="100%"
                  alt=""
                />
              </div>
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>書狀名稱</th>
                    <th>更新日期</th>
                    <th>檔案分享</th>
                    <th>預覽範例</th>
                    <th>預留欄位</th>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                </tbody>
              </table>
              <div class="complaint-btn primary-btn">
                <button>書狀諮詢</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="complaint-content-title">
              <h2>網路糾紛</h2>
              <select name="" id="">
                <option value="">類別選項</option>
                <option>台北市</option>
                <option>新北市</option>
                <option>嘉義市</option>
              </select>
            </div>
            <div class="complaint-content-intro">
              <div class="complaint-content-intro-img">
                <img
                  src="https://picsum.photos/id/431/600/600"
                  width="100%"
                  alt=""
                />
              </div>
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>書狀名稱</th>
                    <th>更新日期</th>
                    <th>檔案分享</th>
                    <th>預覽範例</th>
                    <th>預留欄位</th>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                </tbody>
              </table>
              <div class="complaint-btn primary-btn">
                <button>書狀諮詢</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="complaint-content-title">
              <h2>租賃.不動產</h2>
              <select name="" id="">
                <option value="">類別選項</option>
                <option>台北市</option>
                <option>新北市</option>
                <option>嘉義市</option>
              </select>
            </div>
            <div class="complaint-content-intro">
              <div class="complaint-content-intro-img">
                <img
                  src="https://picsum.photos/id/431/600/600"
                  width="100%"
                  alt=""
                />
              </div>
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>書狀名稱</th>
                    <th>更新日期</th>
                    <th>檔案分享</th>
                    <th>預覽範例</th>
                    <th>預留欄位</th>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                </tbody>
              </table>
              <div class="complaint-btn primary-btn">
                <button>書狀諮詢</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="complaint-content-title">
              <h2>勞資糾紛</h2>
              <select name="" id="">
                <option value="">類別選項</option>
                <option>台北市</option>
                <option>新北市</option>
                <option>嘉義市</option>
              </select>
            </div>
            <div class="complaint-content-intro">
              <div class="complaint-content-intro-img">
                <img
                  src="https://picsum.photos/id/431/600/600"
                  width="100%"
                  alt=""
                />
              </div>
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>書狀名稱</th>
                    <th>更新日期</th>
                    <th>檔案分享</th>
                    <th>預覽範例</th>
                    <th>預留欄位</th>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                  <tr>
                    <td data-th="書狀名稱">民事訴訟</td>
                    <td data-th="更新日期">2023.5.14</td>
                    <td data-th="檔案分享">
                      <div class="primary-btn">
                        <button>檔案分享</button>
                      </div>
                    </td>
                    <td data-th="預覽範例">
                      <div class="primary-btn">
                        <a href="/complaint/complaint-preview" target="_blank">
                          <button>預覽範例</button>
                        </a>
                      </div>
                    </td>
                    <td data-th="預留欄位">預留欄位</td>
                  </tr>
                </tbody>
              </table>
              <div class="complaint-btn primary-btn">
                <button>書狀諮詢</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
