<% layout('../layout') %>
<section>
  <div class="container">
    <div class="online-status">
      <label class="radio">
        <input class="auto" checked="" type="radio" name="online-status" />
        <span></span>
        在線上駐點中
      </label>
    </div>
    <div class="personPageTab">
      <div class="personPageTab-wrap">
        <div class="personPageTab-item">
          <a href="/personPage/">我的律卡</a>
        </div>
        <div class="personPageTab-item">
          <a href="/personPage/my-post">我的文章</a>
        </div>
        <div class="personPageTab-item">
          <a href="/personPage/consult-record">諮詢紀錄</a>
        </div>
        <div class="personPageTab-item active">
          <a href="/personPage/change-password">修改密碼</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section personPage-section bg-gray">
  <div class="container">
    <div class="personPage-content change-password">
      <label class="" for="password"
        ><span>新密碼輸入</span><input id="password" type="text"
      /></label>
      <label class="" for="password-confirm"
        ><span>再次輸入密碼</span><input id="password-confirm" type="text"
      /></label>
      <div class="primary-btn">
        <button>修改密碼</button>
      </div>
    </div>
  </div>
</section>
