<% layout('../layout') %>
<section class="section personPage-section bg-gray">
    <div class="container">
        <div class="consult-record-tab">
            <div class="consult-record-tab-item active" data-tab-target="complaint">書狀服務</div>
            <div class="consult-record-tab-item" data-tab-target="timely-consult">即時諮詢</div>
            <div class="consult-record-tab-item" data-tab-target="reserve-consult">預約諮詢</div>
        </div>
        <div class="personPage-content consult-record complaint">
            書狀服務
            <table class="rwd-table">
                <tr>
                    <th>時間</th>
                    <th>案件人</th>
                    <th>諮詢時數</th>
                    <th>諮詢費用</th>
                    <th>狀態</th>
                </tr>
                <tr>
                    <td data-th="時間">Fed 11 2023 8:5 pm</td>
                    <td data-th="案件人">陳律師</td>
                    <td data-th="諮詢時數">1H</td>
                    <td data-th="諮詢費用">4500</td>
                    <td data-th="狀態">已結案入帳</td>
                </tr>
            </table>
        </div>
        <div class="personPage-content consult-record timely-consult">
            即時諮詢
            <table class="rwd-table">
                <tr>
                    <th>時間</th>
                    <th>案件人</th>
                    <th>諮詢時數</th>
                    <th>諮詢費用</th>
                    <th>狀態</th>
                </tr>
                <tr>
                    <td data-th="時間">Fed 11 2023 8:5 pm</td>
                    <td data-th="案件人">陳律師</td>
                    <td data-th="諮詢時數">1H</td>
                    <td data-th="諮詢費用">4500</td>
                    <td data-th="狀態">已結案入帳</td>
                </tr>
            </table>
        </div>
        <div class="personPage-content consult-record reserve-consult">
            預約諮詢
            <table class="rwd-table">
                <tr>
                    <th>時間</th>
                    <th>案件人</th>
                    <th>諮詢時數</th>
                    <th>諮詢費用</th>
                    <th>狀態</th>
                </tr>
                <tr>
                    <td data-th="時間">Fed 11 2023 8:5 pm</td>
                    <td data-th="案件人">陳律師</td>
                    <td data-th="諮詢時數">1H</td>
                    <td data-th="諮詢費用">4500</td>
                    <td data-th="狀態">已結案入帳</td>
                </tr>
            </table>
        </div>
    </div>
</section>
