<% layout('../layout') %>
<section>
  <div class="container">
    <div class="online-status">
      <label class="radio">
        <input class="auto" checked="" type="radio" name="online-status" />
        <span></span>
        在線上駐點中
      </label>
    </div>
    <div class="personPageTab">
      <div class="personPageTab-wrap">
        <div class="personPageTab-item active">
          <a href="/personPage/">我的律卡</a>
        </div>
        <div class="personPageTab-item">
          <a href="/personPage/my-post">我的文章</a>
        </div>
        <div class="personPageTab-item">
          <a href="/personPage/consult-record">諮詢紀錄</a>
        </div>
        <div class="personPageTab-item">
          <a href="/personPage/change-password">修改密碼</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section personPage-section bg-gray">
  <div class="container">
    <div class="personPage-content">
      <div class="small-area">
        <div class="lawyer-card-intro">
          <div class="lawyer-card-img">
            <img src="/images/lawyer-swiper/lawyer-1.png" width="100%" alt="" />
            <span class="lawyer-card-collect"
              ><img
                src="/images/lawyer-swiper/collect.png"
                width="25px"
                height="25px"
                alt=""
            /></span>
          </div>
        </div>
        <div class="consult-btn">
          <button>上傳照片</button>
        </div>
        <div class="consult-btn">
          <button>預覽律卡</button>
        </div>
      </div>
      <div class="big-area">
        <div class="personPage-descript">
          <h2>自介欄位</h2>
          <p>
            法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。
          </p>
          <div class="consult-btn">
            <button>更新自介</button>
          </div>
        </div>
        <div class="personPage-descript cost-setting">
          <h2>預約諮詢費用設定</h2>
          <p>
            <input type="text" name="" id="" />/ 時
            <span>*每30分鐘為一個計費單位。</span>
            <span class="consult-btn">
              <button>更新設定</button>
            </span>
          </p>
        </div>
        <div class="personPage-descript online-time-setting">
          <h2>在線時間設定</h2>
          <div class="online-time-content">
            <div class="col">
              <span>周一</span>
              <div><input type="text" />時 <input type="text" />分</div>
              ~
              <div><input type="text" />時 <input type="text" />分</div>
            </div>
            <div class="col">
              <span>周二</span>
              <div><input type="text" />時 <input type="text" />分</div>
              ~
              <div><input type="text" />時 <input type="text" />分</div>
            </div>
            <div class="col">
              <span>周三</span>
              <div><input type="text" />時 <input type="text" />分</div>
              ~
              <div><input type="text" />時 <input type="text" />分</div>
            </div>
            <div class="col">
              <span>周四</span>
              <div><input type="text" />時 <input type="text" />分</div>
              ~
              <div><input type="text" />時 <input type="text" />分</div>
            </div>
            <div class="col">
              <span>周五</span>
              <div><input type="text" />時 <input type="text" />分</div>
              ~
              <div><input type="text" />時 <input type="text" />分</div>
            </div>
            <div class="col">
              <span>周六</span>
              <div><input type="text" />時 <input type="text" />分</div>
              ~
              <div><input type="text" />時 <input type="text" />分</div>
            </div>
            <div class="col">
              <span>周日</span>
              <div><input type="text" />時 <input type="text" />分</div>
              ~
              <div><input type="text" />時 <input type="text" />分</div>
            </div>
            <label class="radio">
              <input
                class="auto"
                checked=""
                type="radio"
                name="select-lawyer"
              />
              <span></span>
              在線上駐點中
            </label>
          </div>
          <div class="consult-btn">
            <button>更新設定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
