<% layout('../layout') %>
<section>
  <div class="container">
    <div class="personPageTab">
      <div class="personPageTab-wrap">
        <div class="personPageTab-item active">
          <a href="/personPage/my-account">我的帳號</a>
        </div>
        <div class="personPageTab-item">
          <a href="/personPage/my-post">我的收藏</a>
        </div>
        <div class="personPageTab-item">
          <a href="/personPage/consult-record">諮詢紀錄</a>
        </div>
        <div class="personPageTab-item">
          <a href="/personPage/change-password">修改密碼</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section personPage-section bg-gray">
  <div class="container">
    <div class="personPage-content">
      <div class="small-area">
        <div class="lawyer-card-intro">
          <div class="lawyer-card-img">
            <img src="/images/lawyer-swiper/lawyer-1.png" width="100%" alt="" />
            <span class="lawyer-card-collect"
              ><img
                src="/images/lawyer-swiper/collect.png"
                width="25px"
                height="25px"
                alt=""
            /></span>
          </div>
        </div>
        <div class="primary-btn">
          <button>上傳照片</button>
        </div>
      </div>
      <div class="big-area account-area">
        <div class="personPage-descript">
          <h2>個人資料</h2>
          <div class="personal-info">
            <div class="personal-info-row">
              <label for="">姓名</label>
              <input type="text" name="" id="" />
            </div>
            <div class="personal-info-row">
              <label for="">生日</label>
              <input type="text" name="" id="" />
            </div>
            <div class="personal-info-row">
              <label for="">手機</label>
              <input type="text" name="" id="" />
            </div>
            <div class="personal-info-row">
              <label for="">信箱</label>
              <input type="text" name="" id="" />
            </div>
            <div class="personal-info-row">
              <label for="">地址</label>
              <input type="text" name="" id="" />
            </div>
            <div class="personal-info-row">
              <label for="">職稱</label>
              <input type="text" name="" id="" />
            </div>
          </div>
          <div class="primary-btn">
            <button>更新設定</button>
          </div>
        </div>
        <div class="personPage-descript">
          <h2>自介欄位</h2>
          <p>
            法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。
          </p>
          <div class="primary-btn">
            <button>更新自介</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
