<div class="popup case-consult-popup">
  <div class="popup-container">
    <div class="popup-content new-case" style="display: block">
      <div class="popup-form">
        <h2 class="popup-form-fill">新案件諮詢</h2>
        <div class="popup-form-fill case-consult-timer">
          <span>回覆倒數</span>00<span>:</span>28<span>:</span>33
        </div>
        <div class="popup-form-fill consult-detail">
          <div class="popup-form-half">
            <h3>當事人:</h3>
            <p>陳某某</p>
          </div>
          <div class="popup-form-half defendant">
            <h3>對造人(選填):</h3>
            <p>張某某</p>
          </div>
          <div class="popup-form-fill consult-descript">
            <h3>內容敘述 :</h3>
            <p>
              北雞條孝空好停，那苗支害教友背成羽跟法要首香，媽唱止息實十好甲扒幫飽肖找遠風小，已王以而朱都雨村；吉燈東見免白荷波安蝶朋停旦太進。園開弓水民肖？半怪家苗明好想進游它連結抱土卜幫造回怪司丁共巾。
            </p>
          </div>
          <div class="popup-form-fill">
            <label class="checkbox">
              <div>
                <input class="benefit" type="checkbox" />
                <span></span>
                利益衝突
              </div>
            </label>
          </div>
          <div class="popup-form-fill">
            <textarea
              name=""
              id=""
              rows="6"
              placeholder="內容概述(選填)"
            ></textarea>
          </div>
          <div class="popup-form-fill consult-btn">
            <button>我要承接</button>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-content reject-case">
      <div class="popup-form">
        <h2 class="popup-form-fill">新案件諮詢</h2>
        <div class="popup-form-fill case-consult-timer">
          <span>回覆倒數</span>00<span>:</span>28<span>:</span>33
        </div>
        <div class="popup-form-fill consult-detail">
          <div class="popup-form-fill">
            <textarea
              name=""
              id=""
              rows="6"
              placeholder="內容概述(選填)"
            ></textarea>
          </div>
          <div class="popup-form-fill referrals-lawyer">
            <div>
              <label class="checkbox">
                <div>
                  <input class="auto" type="checkbox" name="referrals-lawyer" />
                  <span></span>
                  轉介律師
                </div>
              </label>
              <div class="serch-bar">
                <input type="text" placeholder="..." />
                <span
                  ><img
                    src="/images/icon/search-icon.png"
                    alt=""
                    width="16px"
                    height="16px"
                /></span>
              </div>
            </div>
            <div class="consult-btn">
              <button>回覆客戶</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-label">案件諮詢<span class="popup-close">✖</span></div>
  </div>
</div>
