<% layout('layout') %>
<div class="main-banner main-banner-full">
  <div class="popup-bg"></div>
  <div class="popup">
    <div class="popup-container">
      <div class="popup-content consult-completed">
        <h2>諮詢完成</h2>
        <p>請為本次服務做出評價</p>
        <div class="rating-stars">
          <img src="/images/popup/vector.png" alt="" />
          <img src="/images/popup/vector.png" alt="" />
          <img src="/images/popup/vector.png" alt="" />
          <img src="/images/popup/vector.png" alt="" />
          <img src="/images/popup/vector.png" alt="" />
        </div>
        <span>滿意的話請打五星，請和我們分享您的評價</span>

        <textarea
          id="form-textarea"
          placeholder="分享您的其他想法或意見...（選填）"
          rows="6"
        ></textarea>
        <div class="consult-btn">
          <button>提交送出</button>
        </div>
      </div>

      <!-- 配對律師中版型 需跳頁-->
      <!-- <div class="searching-lawyer">
        <img src="/images/popup/search.png" width="50px" height="50px" alt="" />
        <p>配對律師中...</p>
      </div> -->
      <!-- 配對成功版型 -->
      <!-- <div class="pair-success">
        <p>已配對</p>
        <div class="consult-btn">
          <button>進入付款</button>
        </div>
      </div> -->
      <!-- 付款成功版型 -->
      <!-- <div class="payment-success">
        <img
          src="/images/popup/leading.png"
          width="50px"
          height="50px"
          alt=""
        />
        <p>
          付款成功<br />
          進入諮詢服務
        </p>
      </div> -->
      <!-- 視訊版型 -->
    </div>
  </div>
  <div class="video-meeting">
    <div class="video-container">
      <div class="video-timer">諮詢計時 00:28:33</div>
      <div class="video-view">
        <div class="client-view">
          <video
            src="https://cdn.adbert.com.tw/material/PPfV3JZqbcsmGZbFss3lB6rlEfTAxPhSanVGcVzm.mp4"
          ></video>
        </div>
        <div class="layyer-view">
          <video
            src="https://cdn.adbert.com.tw/material/PPfV3JZqbcsmGZbFss3lB6rlEfTAxPhSanVGcVzm.mp4"
          ></video>
        </div>
      </div>
      <div class="video-control">
        <div class="video-main-control">
          <div>
            <img
              src="/images/video/open-video.png"
              width="50px"
              height="50px"
              alt=""
            />
          </div>
          <div class="video-chat">
            <img
              src="/images/video/video-chat.png"
              width="50px"
              height="50px"
              alt=""
            />
          </div>
          <div class="close-phone">
            <img
              src="/images/video/close-phone.png"
              width="50px"
              height="50px"
              alt=""
            />
          </div>
        </div>
        <div class="video-setting">
          <img
            src="/images/video/video-setting.png"
            width="50px"
            height="50px"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="message-board">
      <div class="message-container bg-gray">
        <div class="message-content">
          <div class="client-message">
            <span
              ><img src="/images/video/client-img.png" alt="" width="50px"
            /></span>
            <p>
              <span class="message-time">17:49</span>
              今天我有話想說
            </p>
          </div>
          <div class="lawyer-message">
            <p><span class="message-time">17:51</span> 讓我來解開你的疑惑吧</p>
          </div>
        </div>
        <div class="message-enter">
          <textarea type="text" rows="2" placeholder="輸入內容..."></textarea>

          <img
            src="/images/video/message-enter.png"
            width="25px"
            height="25px"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
