<div class="popup-content invite-notify">
  <p>
    已向律師發送預約通知<br />待律師確認時間後<br />再進行付款<br />請注意通知
  </p>
  <div class="btn-col">
    <div class="consult-btn status">
      <button>查看狀況</button>
    </div>
    <div class="consult-btn back-index">
      <button>回到首頁</button>
    </div>
  </div>
</div>
