<div class="popup-content no-choice-lawyer">
  <div class="popup-form">
    <label class="form-group popup-form-half"
      ><span>當事人姓名</span>
      <input type="text" />
    </label>
    <label class="form-group popup-form-half"
      ><span>對造人(選填)</span>
      <input type="text" />
    </label>
    <label class="form-group popup-form-fill" for="form-textarea"
      ><span>對造人(選填)</span>
      <textarea id="form-textarea" rows="6"></textarea>
    </label>
    <div class="detail-list popup-form-half">
      <div class="detail-item">
        <span>諮詢時數</span>
        <span>1小時</span>
      </div>
      <div class="detail-item">
        <span>數量</span>
        <span>2</span>
      </div>
      <div class="detail-item">
        <span>特殊加成</span>
        <span>10%</span>
      </div>
      <div class="detail-item">
        <span>折扣碼</span>
        <input type="text" placeholder="..." />
      </div>
    </div>
    <div class="total popup-form-half">
      <div>
        <div>共計</div>
        <span>$5,600</span>
      </div>
    </div>
    <div class="popup-form-tip popup-form-fill">
      <p>*每30分鐘為一個計費單位。</p>
      <p>*如非常態時段將產生額外費用。</p>
    </div>
    <div class="popup-form-half">
      <div class="radio-type">
        <label class="radio">
          <input type="radio" name="agree" />
          <span></span>
          我同意律卡
        </label>
        <label class="radio">
          <input type="radio" name="agree" />
          <span></span>
          我同意訂單
        </label>
      </div>
    </div>
    <div class="popup-form-half consult-btn match-lawyer-btn">
      <button>配對律師</button>
    </div>
  </div>
</div>
<div class="popup-content choice-lawyer">
  <div class="swiper lawyer-swiper">
    <div class="swiper-wrapper">
      <% for(var i = 0; 3 > i; i++){ %>
      <div class="swiper-slide">
        <div class="lawyer-intro">
          <div class="lawyer-img">
            <img src="/images/lawyer-swiper/lawyer-1.png" width="100%" alt="" />
            <span class="lawyer-collect"
              ><img
                src="/images/lawyer-swiper/collect.png"
                width="25px"
                height="25px"
                alt=""
            /></span>
          </div>
          <div class="lawyer-name">陳律師</div>
          <div class="lawyer-evaluate">
            <span>5.0</span>
            <div>
              <img
                src="/images/lawyer-swiper/star.png"
                width="18px"
                height="18px"
                alt=""
              />
              <img
                src="/images/lawyer-swiper/star.png"
                width="18px"
                height="18px"
                alt=""
              />
              <img
                src="/images/lawyer-swiper/star.png"
                width="18px"
                height="18px"
                alt=""
              />
              <img
                src="/images/lawyer-swiper/star.png"
                width="18px"
                height="18px"
                alt=""
              />
              <img
                src="/images/lawyer-swiper/star.png"
                width="18px"
                height="18px"
                alt=""
              />
            </div>
          </div>
          <p class="lawyer-descript">
            法律是社會秩序的基石，它規範了人們的行為，維護了社會的公正和穩定。
          </p>
        </div>
        <div class="lawyer-ability">
          <div class="lawyer-ability-item">
            <span>律師徽章</span
            ><span class="badge-array">
              <img
                src="/images/lawyer-swiper/badge.png"
                width="18px"
                height="18px"
                alt="" />
              <img
                src="/images/lawyer-swiper/badge.png"
                width="18px"
                height="18px"
                alt="" />
              <img
                src="/images/lawyer-swiper/badge.png"
                width="18px"
                height="18px"
                alt=""
            /></span>
          </div>
          <div class="lawyer-ability-item">
            <span>律師資歷</span><span>10年</span>
          </div>
          <div class="lawyer-ability-item">
            <span>民眾評價</span><span>5.0</span>
          </div>
          <div class="lawyer-ability-item">
            <span>民眾收藏</span><span>234</span>
          </div>
          <div class="lawyer-ability-item">
            <span>諮詢數量</span><span>567</span>
          </div>
          <div class="consult-btn">
            <button>律師個人卡片</button>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="popup-form">
    <label class="form-group popup-form-half"
      ><span>當事人姓名</span>
      <input type="text" />
    </label>
    <label class="form-group popup-form-half"
      ><span>對造人(選填)</span>
      <input type="text" />
    </label>
    <label class="form-group popup-form-fill" for="form-textarea"
      ><span>對造人(選填)</span>
      <textarea id="form-textarea" rows="6"></textarea>
    </label>
    <div class="detail-list popup-form-half">
      <div class="detail-item">
        <span>諮詢時數</span>
        <span>1小時</span>
      </div>
      <div class="detail-item">
        <span>數量</span>
        <span>2</span>
      </div>
      <div class="detail-item">
        <span>特殊加成</span>
        <span>10%</span>
      </div>
      <div class="detail-item">
        <span>折扣碼</span>
        <input type="text" placeholder="..." />
      </div>
    </div>
    <div class="total popup-form-half">
      <div>
        <div>共計</div>
        <span>$5,600</span>
      </div>
    </div>
    <div class="popup-form-tip popup-form-fill">
      <p>*每30分鐘為一個計費單位。</p>
      <p>*如非常態時段將產生額外費用。</p>
    </div>
    <div class="popup-time popup-form-fill">
      <div class="add-time"></div>
    </div>
    <div class="popup-form-half">
      <div class="radio-type">
        <label class="radio">
          <input type="radio" name="agree" />
          <span></span>
          我同意律卡
        </label>
        <label class="radio">
          <input type="radio" name="agree" />
          <span></span>
          我同意訂單
        </label>
      </div>
    </div>
    <div class="popup-form-half consult-btn match-lawyer-btn">
      <button>配對律師</button>
    </div>
  </div>
</div>
