<div class="popup-content no-choice-lawyer">
  <div class="popup-form">
    <label class="form-group popup-form-half"
      ><span>當事人姓名</span>
      <input type="text" />
    </label>
    <label class="form-group popup-form-half"
      ><span>對造人(選填)</span>
      <input type="text" />
    </label>
    <label class="form-group popup-form-fill" for="form-textarea"
      ><span>事件描述 (選填)</span>
      <textarea id="form-textarea" rows="6"></textarea>
    </label>
    <div class="detail-list popup-form-half">
      <div class="detail-item">
        <span>諮詢時數</span>
        <span>1小時</span>
      </div>
      <div class="detail-item">
        <span>數量</span>
        <span>2</span>
      </div>
      <div class="detail-item">
        <span>特殊加成</span>
        <span>10%</span>
      </div>
      <div class="detail-item">
        <span>折扣碼</span>
        <input type="text" placeholder="" />
      </div>
    </div>
    <div class="total popup-form-half">
      <div>
        <div>共計</div>
        <span>$5,600</span>
      </div>
    </div>
    <div class="popup-form-tip popup-form-fill">
      <p>*每30分鐘為一個計費單位。</p>
      <p>*如非常態時段將產生額外費用。</p>
    </div>
    <div class="popup-form-half">
      <div class="checkbox-type">
        <label class="checkbox">
          <input type="checkbox" />
          <span></span>
          我同意律卡
        </label>
        <label class="checkbox">
          <input type="checkbox" />
          <span></span>
          我同意訂單
        </label>
      </div>
    </div>
    <div class="popup-form-half primary-btn match-lawyer-btn">
      <button>配對律師</button>
    </div>
  </div>
</div>
<div class="popup-content choice-lawyer">
  <div class="serch-bar">
    <input type="text" placeholder="搜尋律師" />
    <span
      ><img
        src="/images/icon/search-icon.png"
        alt=""
        width="16px"
        height="16px"
    /></span>
  </div>
  <div class="swiper lawyer-swiper">
    <div class="swiper-wrapper">
      <% for(var i = 0; 3 > i; i++){ %>
      <div class="swiper-slide">
        <div class="lawyer-intro">
          <div class="lawyer-img">
            <img src="/images/lawyer-swiper/lawyer-1.png" width="100%" alt="" />
            <span class="lawyer-collect"
              ><img
                src="/images/lawyer-swiper/collect.png"
                width="25px"
                height="25px"
                alt=""
            /></span>
          </div>
          <div class="lawyer-name">陳律師</div>
          <div class="lawyer-evaluate">
            <span>5.0</span>
            <div>
              <img
                src="/images/lawyer-swiper/star.png"
                width="18px"
                height="18px"
                alt=""
              />
              <img
                src="/images/lawyer-swiper/star.png"
                width="18px"
                height="18px"
                alt=""
              />
              <img
                src="/images/lawyer-swiper/star.png"
                width="18px"
                height="18px"
                alt=""
              />
              <img
                src="/images/lawyer-swiper/star.png"
                width="18px"
                height="18px"
                alt=""
              />
              <img
                src="/images/lawyer-swiper/star.png"
                width="18px"
                height="18px"
                alt=""
              />
            </div>
          </div>
          <div class="lawyer-descript">
            <div class="progress-group">
              <span>5</span>
              <progress value="90" max="100"></progress>
            </div>
            <div class="progress-group">
              <span>4</span>
              <progress value="60" max="100"></progress>
            </div>
            <div class="progress-group">
              <span>3</span>
              <progress value="30" max="100"></progress>
            </div>
            <div class="progress-group">
              <span>2</span>
              <progress value="40" max="100"></progress>
            </div>
            <div class="progress-group">
              <span>1</span>
              <progress value="15" max="100"></progress>
            </div>
          </div>
        </div>
        <div class="lawyer-ability">
          <div>
            <div class="lawyer-ability-item">
              <span>律師徽章</span
              ><span class="badge-array">
                <img
                  src="/images/lawyer-swiper/badge.png"
                  width="18px"
                  height="18px"
                  alt="" />
                <img
                  src="/images/lawyer-swiper/badge.png"
                  width="18px"
                  height="18px"
                  alt="" />
                <img
                  src="/images/lawyer-swiper/badge.png"
                  width="18px"
                  height="18px"
                  alt=""
              /></span>
            </div>
            <div class="lawyer-ability-item">
              <span>律師資歷</span><span>10年</span>
            </div>
            <div class="lawyer-ability-item">
              <span>民眾評價</span><span>5.0</span>
            </div>
            <div class="lawyer-ability-item">
              <span>民眾收藏</span><span>234</span>
            </div>
            <div class="lawyer-ability-item">
              <span>諮詢數量</span><span>567</span>
            </div>
          </div>
          <div class="primary-btn">
            <a href="/lawyerCard/lawyerCardInfo">
              <button>律師個人卡片</button>
            </a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="popup-form">
    <label class="form-group popup-form-half"
      ><span>當事人姓名</span>
      <input type="text" />
    </label>
    <label class="form-group popup-form-half"
      ><span>對造人(選填)</span>
      <input type="text" />
    </label>
    <label class="form-group popup-form-fill" for="form-textarea"
      ><span>事件描述 (選填)</span>
      <textarea id="form-textarea" rows="4"></textarea>
    </label>
    <div class="detail-list popup-form-half">
      <div class="detail-item">
        <span>諮詢時數</span>
        <span>1小時</span>
      </div>
      <div class="detail-item">
        <span>數量</span>
        <span>2</span>
      </div>
      <div class="detail-item">
        <span>特殊加成</span>
        <span>10%</span>
      </div>
      <div class="detail-item">
        <span>折扣碼</span>
        <input type="text" placeholder="" />
      </div>
    </div>
    <div class="total popup-form-half">
      <div class="select-lawyer">陳律師</div>
      <div class="total-text">
        <div>共計</div>
        <span>$5,600</span>
      </div>
    </div>
    <div class="popup-form-tip popup-form-fill">
      <p>*每30分鐘為一個計費單位。</p>
      <p>*如非常態時段將產生額外費用。</p>
    </div>
    <div class="popup-time popup-form-fill">
      <div class="time-item"></div>
      <div class="add-time"></div>
    </div>
    <div class="popup-form-half">
      <div class="checkbox-type">
        <label class="checkbox">
          <input type="checkbox" />
          <span></span>
          我同意律卡
        </label>
        <label class="checkbox">
          <input type="checkbox" />
          <span></span>
          我同意訂單
        </label>
      </div>
    </div>
    <div class="popup-form-half primary-btn match-lawyer-btn">
      <button>配對律師</button>
    </div>
  </div>
</div>
