<div class="lawyer-card-popup">
  <div class="lawyer-card-background popup-backbround"></div>
  <div class="lawyer-card-content">
    <div class="lawyer-info">
      <div class="lawyer-card-intro">
        <div class="lawyer-card-img">
          <img src="/images/lawyer-swiper/lawyer-1.png" width="100%" alt="" />
          <span class="lawyer-card-collect"
            ><img
              src="/images/lawyer-swiper/collect.png"
              width="25px"
              height="25px"
              alt=""
          /></span>
        </div>
        <div class="lawyer-card-name">
          <span>陳律師</span>
          <span>5.0</span>
        </div>
        <div class="lawyer-card-evaluate">
          <img
            src="/images/lawyer-swiper/star.png"
            width="18px"
            height="18px"
            alt=""
          />
          <img
            src="/images/lawyer-swiper/star.png"
            width="18px"
            height="18px"
            alt=""
          />
          <img
            src="/images/lawyer-swiper/star.png"
            width="18px"
            height="18px"
            alt=""
          />
          <img
            src="/images/lawyer-swiper/star.png"
            width="18px"
            height="18px"
            alt=""
          />
          <img
            src="/images/lawyer-swiper/star.png"
            width="18px"
            height="18px"
            alt=""
          />
        </div>
        <div class="lawyer-card-descript">
          <div class="progress-group">
            <span>5</span>
            <progress value="90" max="100"></progress>
          </div>
          <div class="progress-group">
            <span>4</span>
            <progress value="60" max="100"></progress>
          </div>
          <div class="progress-group">
            <span>3</span>
            <progress value="30" max="100"></progress>
          </div>
          <div class="progress-group">
            <span>2</span>
            <progress value="40" max="100"></progress>
          </div>
          <div class="progress-group">
            <span>1</span>
            <progress value="15" max="100"></progress>
          </div>
        </div>
      </div>
      <div class="lawyer-card-ability">
        <div>
          <div class="lawyer-ability-item">
            <span>律師徽章</span
            ><span class="badge-array">
              <img
                src="/images/lawyer-swiper/badge.png"
                width="18px"
                height="18px"
                alt="" />
              <img
                src="/images/lawyer-swiper/badge.png"
                width="18px"
                height="18px"
                alt="" />
              <img
                src="/images/lawyer-swiper/badge.png"
                width="18px"
                height="18px"
                alt=""
            /></span>
          </div>
          <div class="lawyer-ability-item">
            <span>律師資歷</span><span>10年</span>
          </div>
          <div class="lawyer-ability-item">
            <span>民眾評價</span><span>5.0</span>
          </div>
          <div class="lawyer-ability-item">
            <span>民眾收藏</span><span>234</span>
          </div>
          <div class="lawyer-ability-item">
            <span>諮詢數量</span><span>567</span>
          </div>
        </div>
        <div class="primary-btn">
          <button><a href="/">預約諮詢</a></button>

          <button><a href="/lawyerCard/lawyerCardInfo">查看更多</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
