<div class="popup progress-notify-popup">
  <div class="popup-backbround"></div>
  <div class="popup-container">
    <div class="popup-content" style="display: block">
      <div class="popup-tab table-tab">
        <div class="popup-tab-item" data-tab-target="popup-timely-table">
          即時諮詢
        </div>
        <div
          class="popup-tab-item active"
          data-tab-target="popup-reserve-table"
        >
          預約諮詢
        </div>
      </div>
      <table class="rwd-table popup-timely-table">
        <tr>
          <th>編號</th>
          <th>時間</th>
          <th>律師</th>
          <th>時數</th>
          <th>諮詢費用</th>
          <th>狀態</th>
        </tr>
        <tr>
          <td data-th="編號">001</td>
          <td data-th="時間">Fed 11 2023 8:5 pm</td>
          <td data-th="律師">陳律師</td>
          <td data-th="時數">1H</td>
          <td data-th="諮詢費用">4500</td>
          <td data-th="狀態">等待律師確認</td>
        </tr>
      </table>
      <table class="rwd-table popup-reserve-table">
        <tr>
          <th>編號</th>
          <th>時間</th>
          <th>律師</th>
          <th>時數</th>
          <th>諮詢費用</th>
          <th>狀態</th>
        </tr>
        <tr>
          <td data-th="編號">001</td>
          <td data-th="時間">Fed 11 2023 8:5 pm</td>
          <td data-th="律師">陳律師</td>
          <td data-th="時數">1H</td>
          <td data-th="諮詢費用">4500</td>
          <td data-th="狀態">等待律師確認</td>
        </tr>
      </table>
    </div>
  </div>
</div>
