<div class="popup-content pre-consult reserve-consult">
  <div class="select-type">
    <div>
      <select name="" id="">
        <option>所屬縣市</option>
      </select>
      <select name="" id="">
        <option>案件類型</option>
      </select>
    </div>
    <p>上述二擇一。</p>
  </div>
  <div class="consult-time">
    諮詢時數
    <div class="consult-hour">
      <input type="text" placeholder="0" />
      <input type="text" placeholder="0" />
    </div>
    時
    <div class="consult-min">
      <input type="text" placeholder="3" />
      <input type="text" placeholder="0" />
    </div>
    分
  </div>
  <div class="consult-tip">
    請輸入諮詢時數，每30分鐘為一個計費單位。如非常態時段將產生額外費用。
  </div>
  <div class="consult-btn">
    <button>下一步</button>
  </div>
</div>
