<div class="popup-content pre-consult timely-consult">
  <div class="select-type">
    <div>
      <select name="" id="">
        <option>所屬縣市</option>
        <option>台北市</option>
        <option>新北市</option>
        <option>桃園市</option>
        <option>台中市</option>
        <option>台南市</option>
        <option>高雄市</option>
        <option>新竹縣</option>
        <option>苗栗縣</option>
        <option>彰化縣</option>
        <option>屏東縣</option>
        <option>宜蘭縣</option>
        <option>花蓮縣</option>
        <option>台東縣</option>
        <option>澎湖縣</option>
        <option>金門縣</option>
        <option>連江縣</option>
        <option>基隆市</option>
        <option>新竹市</option>
        <option>嘉義市</option>
      </select>
      <select name="" id="">
        <option>案件類型</option>
        <option>婚姻\子女</option>
        <option>遺產繼承</option>
        <option>交通糾紛</option>
        <option>網路糾紛</option>
        <option>債權債務</option>
        <option>消費糾紛</option>
        <option>刑事案件</option>
        <option>房屋糾紛</option>
        <option>勞資糾紛</option>
      </select>
    </div>
    <p>上述二擇一。</p>
  </div>
  <div class="radio-type">
    <label class="radio">
      <input class="auto" checked type="radio" name="select-lawyer" />
      <span></span>
      自動媒合
    </label>
    <label class="radio">
      <input class="choice" type="radio" name="select-lawyer" />
      <span></span>
      挑選律師
    </label>
  </div>
  <div class="consult-time">
    諮詢時數
    <div class="consult-hour">
      <select>
        <% for(var i = 0; 9 > i; i++){ %>
        <option><%- i %></option>
        <% } %>
      </select>
    </div>
    時
    <div class="consult-min">
      <select>
        <option>0</option>
        <option>30</option>
      </select>
    </div>
    分
  </div>
  <div class="consult-tip">
    請輸入諮詢時數，每30分鐘為一個計費單位。如非常態時段將產生額外費用。
  </div>
  <div class="primary-btn">
    <button>下一步</button>
  </div>
</div>
