.fix-tool {
    position: fixed;
    right: 3%;
    bottom: 3%;
}

.fix-tool ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fix-tool ul li {
    position: relative;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
}

.fix-tool ul li img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.fix-tool ul li:hover > img:last-child {
    opacity: 0;
}
.fix-tool .mic-group {
    gap: 8px;
    overflow: hidden;
}
#mic-group-switch {
    display: none;
}
#mic-group-switch:checked + .mic-group {
    background-color: var(--secondary-color);
    height: 174px;
    border-radius: 22px;
}
