@import 'color.css';


.header {
    height: 100%;
    padding: 0 20px 0 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--secondary-color);

}

.header .logo {
    width: initial;
    height: 50px;
    margin-right: 15px;
    position: relative;
}

.header .logo>.logo-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.header .logo>.logo-img>:last-child {
    margin-left: 10px;
}

.header .logo-list,
.header .user-list {
    width: 100%;
    position: absolute;
    left: 0;
    top: 51px;
    z-index: 4;
    display: none;
}

.header .user-list {
    width: 130px;
    left: unset;
    right: 0;
}

.header .logo-list ul,
.header .user-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0 0 10px 0;
    background-color: #fff;
}

.header .user-list ul {
    border-radius: 0 0 0 10px;

}

.header .logo-list ul li a,
.header .user-list ul li a {
    color: var(--primary-color);
    display: block;
    padding: 8px 0;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 1px solid #d8d8d8;
}

.header .logo-list ul li:last-child a,
.header .user-list ul li:last-child a {
    border-bottom: 0px;
}

.header .case-filter {
    width: 390px;
    padding: 15px;
    position: absolute;
    left: unset;
    right: 0px;
    top: 51px;
    z-index: 2;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    font-size: 12px;
    display: none;
}

.case-filter .case-filter-row {
    display: flex;
    margin: 0 -15px;
    padding: 10px 15px;
    border-bottom: 1px solid #DBDBDB;

}

.case-filter .case-filter-row:last-child {
    border-bottom: 0px;
}

.case-filter .case-filter-item {
    width: 33.33%;
    display: block;
    text-align: center;

}

.case-filter-item img {
    margin-bottom: 5px;
}

.checkbox {
    color: var(--popup-font-color);
    letter-spacing: 2px;
    display: flex;
}

.checkbox input[type="checkbox"] {
    display: none;
    /* 把原本的input藏起來 */
}

.checkbox span {
    /* 自定義樣式的 checkbox 邊框 */
    height: 16px;
    width: 16px;
    margin-right: 5px;
    border: 1px solid #A9A59F;
    border-radius: 50%;
    display: inline-block;

}

.checkbox span::after {
    /* 中間點點 */
    content: "";
    display: block;
    margin: 3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
    opacity: 0;
    transition: opacity 0.2s;
}

.checkbox input[type="checkbox"]:checked+span::after {
    /* 選中checkbox時 才顯示中間點點 */
    opacity: 1;
}


.header .nav-md {
    display: flex;
    align-items: center;
}

.header .nav-md .nav-link-md {
    display: none;
    padding: 10px 20px 10px 0;
    color: #fff;
    transition: all 0.3s;
}

.header .nav-md .nav-link-md>img {
    margin-left: 5px;
}

.header .nav-md .nav-link-md:last-child {
    margin-right: 0px;
}

.header .nav-md .nav-link-md:hover {
    color: var(--secondary-color);
}

.serch-bar {
    width: 120px;
    height: 30px;
    padding: 0px 10px;
    background-color: #fff;
    border-radius: 25px;
    border-color: #979797;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serch-bar input {
    width: 80%;
}

.notify-List {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* .notify-List>div,
.notify-List>span {
    margin-right: 15px;
} */

.notify-List>:last-child {
    margin-right: 0;
}

.icon-container {
    width: 30px;
    height: 30px;
    position: relative;
}

.icon-container>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}

.icon-container:hover>img:last-child {
    opacity: 0;
}

.header .nav {
    display: none;
}

.icon-personal {
    cursor: pointer;
}

/* 電腦版 RWD start*/
@media (min-width: 768px) {
    .header {
        height: 50px;
    }

    .header .logo {
        width: 150px;
    }


    .header .nav-md .nav-link-md {
        display: block;
    }

    .header .serch-bar {
        width: 210px;
    }
    .header .serch-bar input::placeholder {
        font-size: 14px;
    }
    .header .notify-List {
        gap: 15px;
    }

    .header .case-filter {
        width: 465px;
        right: 130px;
        font-size: 16px;
    }
}

/* 電腦版 RWD end*/

/* 手機選單 start*/
.header .nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 51px;
    background-color: #eee;
    z-index: 5;
}

.header .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .nav ul li a {
    width: 100%;
    padding: 10px 0;
    letter-spacing: 5px;
    display: block;
    text-align: center;
}

/* 手機選單 end*/