@font-face {
    font-family: 'PingFang-TC';
    src: url('../font/PingFang-TC.otf') format('truetype');
}

body {
    font-family: 'Montserrat', sans-serif, 'PingFang-TC';
}

/* margin */

.mt-0 {
    margin-top: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

@media (min-width: 768px) {
    .mt-md-0 {
        margin-top: 0 !important;
    }

    .mr-md-0 {
        margin-right: 0 !important;
    }

    .mb-md-0 {
        margin-bottom: 0 !important;
    }

    .ml-md-0 {
        margin-left: 0 !important;
    }
}

/* margin */

.pt-0 {
    padding-top: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

/* 背景顏色 */
.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-gray {
    background-color: var(--bg-gray);
}

.bg-white {
    background-color: #fff;
}

/* 文字顏色 */
.color-primary {
    color: var(--primary-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.color-gray {
    color: var(--bg-gray);
}

/* 邊框 */
.brd-color-primary {
    border-bottom: 2px solid;
    border-color: var(--primary-color) !important;
}

.brd-colo-secondary {
    border-bottom: 2px solid;
    border-color: var(--secondary-color) !important;
}

.brd-color-gray {
    border-bottom: 2px solid;
    border-color: var(--bg-gray) !important;
}

.main-banner {
    position: relative;
    width: 100%;
    min-height: 600px;
    padding: 50px 0;
    background-image: url('../images/image-from-rawpixel-id-2627328-.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner-full {
    padding: 0;
    height: calc(100vh - 50px);
}

.main-banner > img {
    width: 100%;
    display: block;
}

.lawyer-main-banner {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.main-banner-left {
    position: relative;
    flex-grow: 1;
    background: linear-gradient(180deg, #ededed 61.55%, #b3b3b3 81.93%, #5d5d5d 100%);
}

.main-banner-left-area {
    padding: 35px;
}

.main-banner-left .main-banner-left-area > p {
    color: #6d7278;
    font-size: 15px;
    letter-spacing: 4px;
}

.main-banner-left .main-banner-left-area > .online-switch {
    position: relative;
    display: flex;
    height: 30px;
    margin-top: 40px;
    border-radius: 25px;
    color: #6d7278;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.online-switch > span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #fff;
    border-radius: 25px;
    font-weight: 200;
    z-index: 5;
    cursor: pointer;
}

.online-switch-active {
    position: absolute;
    left: 0%;
    width: 50%;
    height: 30px;
    border-radius: 25px;
    background: #4abbe7;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.main-banner-right {
    position: relative;
}

.main-banner-right img {
    display: block;
}

.main-banner-right .current-info-area {
    width: 85%;
    height: 85%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}

.current-info-area .current-info-item {
    position: relative;
    width: calc(50% - 20px);
    color: #fff;
}

.current-info-area .current-info-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    font-weight: 200;
    position: absolute;
}

.current-info-area .current-info-item:nth-child(1)::after {
    width: 1px;
    height: 100%;
    top: 0;
    right: -20px;
}

.current-info-area .current-info-item:nth-child(2)::after {
    bottom: -20px;
}

.current-info-area .current-info-item:nth-child(3)::after {
    top: -20px;
}

.current-info-area .current-info-item:nth-child(4)::after {
    width: 1px;
    height: 100%;
    top: 0;
    left: -20px;
}

.current-info-area .current-info-item-subtitle {
    letter-spacing: 3px;
}

.current-info-area .current-info-item:nth-child(2) .current-info-item-subtitle {
    position: absolute;
    top: 0;
    right: 0;
}

.current-info-area .current-info-item:nth-child(3) .current-info-item-subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
}

.current-info-area .current-info-item:nth-child(4) .current-info-item-subtitle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.current-info-area .current-info-item-descript {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 65%;
    transform: translate(0%, -50%);
}

.current-info-area .current-info-item:nth-child(3) .current-info-item-descript,
.current-info-area .current-info-item:nth-child(4) .current-info-item-descript {
    top: 35%;
}

.current-info-area .current-info-item-descript .number {
    font-size: 27px;
    margin: 0 5px;
}

.section {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-top-tab {
    width: 100%;
    position: absolute;
    top: 0;
    transform: translate(0%, -100%);
    display: flex;
    justify-content: center;
    gap: 12px;
}

.section-top-tab-item {
    padding: 7px 24px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    background-image: url(../images/button/button-left-white-border.png);
    background-size: contain;
    /* background-position: center; */
    background-repeat: no-repeat;
}

.section-top-tab-item.active {
    color: #fff;
    background-image: url(../images/button/button-left-primary.png);
}

.section-top-tab-item:hover {
    color: var(--primary-color);
    background-image: url(../images/button/button-left-white.png);
}

.section .section-title {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    position: relative;
}

.section .section-title::before {
    content: '';
    width: 10%;
    height: 3px;
    position: relative;
    bottom: -3px;
    background-color: var(--secondary-color);
    align-self: flex-end;
}

.section .section-title h2 {
    margin: 0;
    padding: 0 10px;
    font-weight: normal;
    position: relative;
    bottom: -13px;
}

.section .card {
    margin-bottom: 40px;
}

/*  卡片有圖片的樣式 start 
    目前只有 lawyer-area 未來可能有共同區塊使用
*/
.lawyer-area .card .card-img {
    position: relative;
}

.lawyer-area .card .card-img img {
    width: 100%;
    display: block;
}

.lawyer-area .card .card-title {
    padding: 10px 25px 5px 15px;
    color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../images/button/button-right-white.png);
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.lawyer-area .card .card-title h3,
.lawyer-area .card .card-title h4 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

/* 卡片有圖片的樣式 end*/

.section .card .card-paragraph {
    padding: 40px 0;
    margin: 0 10px;
    position: relative;
}

.section .card .card-date {
    padding-left: 25px;
    font-size: 18px;
    position: absolute;
    right: 0;
    bottom: -6px;
}

.section .card .card-paragraph p {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
}

/*  卡片無圖片的樣式 start 
    目前只有 lawyer-area 未來可能有共同區塊使用
*/
.law-new-area .card .card-title h3 {
    margin: 0 10px 0;
    font-size: 24px;
    font-weight: normal;
}

.law-new-area .card .card-paragraph {
    padding: 20px 0 40px;
}

/* 卡片無圖片的樣式 start */

/* 標題有 Tab 樣式 start */
.section-title.title-tab {
    flex-wrap: wrap;
    border-bottom: 3px solid var(--secondary-color);
}

.section-title.title-tab h2 {
    margin-top: auto;
    padding-right: 20px !important;
}

.section-title.title-tab .law-new-tab {
    margin-top: 40px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.section-title.title-tab .law-new-tab-item {
    padding: 10px 20px;
    color: #fff;
    border: 1px solid var(--secondary-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.section-title.title-tab .law-new-tab-item.active,
.section-title.title-tab .law-new-tab-item:hover {
    background-color: var(--secondary-color);
}

/* 標題有 Tab 樣式 end */
@media (min-width: 576px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }

    .section .section-title h2 {
        padding: 0;
    }

    .section .section-title::before {
        width: 20%;
        position: absolute;
        left: -22%;
    }

    .section-top-tab-item {
        padding: 10px 34px;
    }

    .card-area {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .section .card {
        width: calc(50% - 10px);
    }

    .section-title.title-tab .law-new-tab {
        margin-top: 0;
    }

    /* .lawyer-area .card .card-title {
        width: 51%;
        height: 42px;
    } */
}

@media (min-width: 768px) {
    .main-banner {
        min-height: calc(100vh - 50px);
    }

    .lawyer-main-banner {
        flex-direction: row;
    }

    .lawyer-main-banner > .main-banner-right {
        width: 60%;
    }

    .main-banner-left-area {
        position: absolute;
        bottom: 10%;
        left: 0;
        padding: 20px;
    }

    .container {
        width: 720px;
    }

    .section {
        padding-top: 175px;
        padding-bottom: 130px;
    }

    .section .card {
        width: calc(33.333% - 26.666px);
    }

    .section .card .card-paragraph {
        margin: 0;
    }

    .card-area {
        gap: 40px;
    }
}

@media (min-width: 992px) {
    .main-banner {
        padding: 0;
    }

    .lawyer-main-banner > .main-banner-right {
        width: 60%;
    }

    .container {
        width: 960px;
    }

    .section .card {
        width: calc(33.333% - 40px);
    }

    .card-area {
        gap: 60px;
    }

    /* .lawyer-area .card .card-title {
        width: 41%;
        height: 44px;
    } */

    .lawyer-area .card .card-title h3,
    .lawyer-area .card .card-title h4 {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    .lawyer-main-banner > .main-banner-right {
        width: 80%;
    }

    .main-banner-left-area {
        bottom: 20%;
    }

    .main-banner-right .current-info-area {
        width: 60%;
        height: 60%;
        left: 40%;
        bottom: 50%;
    }

    .current-info-area .current-info-item-descript .number {
        font-size: 60px;
    }

    .section .card {
        width: calc(33.333% - 40px);
    }

    .card-area {
        gap: 60px;
    }

    .lawyer-area .card .card-title h3,
    .lawyer-area .card .card-title h4 {
        font-size: 24px;
    }
}
