.personPageTab {
    overflow-x: auto;
}

.personPageTab-wrap {
    position: relative;
    display: flex;
    gap: 15px;
}

.personPageTab-item {
    position: relative;
    min-width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

@media (min-width: 768px) {
    .personPageTab-item {
        min-width: calc(16.66666% - 12.5px);
    }
}

.personPageTab-item a {
    display: block;
    padding: 30px 0 15px;
}

.personPageTab-item::after {
    content: '';
    height: 7px;
    width: 100%;
    border-radius: 7px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
}

.personPageTab-item.active::after {
    background-color: var(--primary-color);
}

.section.personPage-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
    margin-top: -2px;
}

.personPage-content {
    background: #fff;
    padding: 70px 20px;
    box-shadow: 3px 3px 9px #00000037;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.personPage-content .small-area {
    width: 60%;
}

.personPage-content .big-area {
    width: 100%
}

@media (min-width: 992px) {

    .personPage-content .small-area {
        width: 30%;
    }

    .personPage-content .big-area {
        width: 70%
    }
}

.personPage-content .small-area .consult-btn {
    margin-top: 20px;
}

.personPage-content .small-area .consult-btn button {
    width: 100%;
}

.personPage-descript h2 {
    color: var(--primary-color);
    font-size: 16px;
    letter-spacing: 3.6px;
}

.personPage-descript>p,
.personPage-descript>.online-time-content {
    margin: 16px 0;
    padding: 25px;
    background: #F5F5F5;
    border-radius: 10px;
    letter-spacing: 1.16px;
    line-height: 1.5;
    color: #858585;
}

.personPage-descript>.consult-btn {
    justify-content: end;
}

.personPage-descript.cost-setting p {
    padding: 10px 25px;
}

.personPage-descript.cost-setting input {
    width: 100px;
    border: 0.5px solid #DBDBDB;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
}

.personPage-descript.cost-setting span {
    margin-left: 10px;
    font-size: 14px;
}

.personPage-descript.cost-setting .consult-btn {
    justify-content: end;
}

.personPage-descript .radio {
    align-items: center;
}

.personPage-descript .radio span {
    margin-right: 20px;
}

.personPage-descript .radio span::after {
    background-color: var(--secondary-color);
}

@media (min-width: 1200px) {
    .personPage-descript.cost-setting p {
        display: flex;
        align-items: center;
    }

    .personPage-descript.cost-setting .consult-btn {
        flex-grow: 1;
    }
}

.personPage-descript.online-time-setting {
    margin-top: 40px;
}

.personPage-descript.online-time-setting .col {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.personPage-descript.online-time-setting .col span {
    flex-shrink: 0;
}

.personPage-descript.online-time-setting input {
    width: 60px;
    border: 0.5px solid #DBDBDB;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
}

@media (min-width: 1200px) {
    .personPage-descript.online-time-setting input {
        width: 80px;
    }
}

.personPage-descript-2 {
    width: 100%;
    padding: 30px;
    background: #EBEBEB;
    color: #858585;
    letter-spacing: 1.16667px;
    font-size: 14px;
    text-align: left;
    border-radius: 10px;
}

.personPage-descript-2 h2 {
    margin: 0 0 10px 0;
    color: #858585;
    letter-spacing: 3.6px;
    font-size: 16px;
}

.personPage-descript-2 p {
    margin: 0;
    color: #858585;
    line-height: 2;
    letter-spacing: 1.16667px;
    font-size: 14px;
}

.personPage-content .personPage-half {
    width: calc(50% - 15px);
}


.personPage-content .lawyer-info {
    display: flex;
    gap: 20px;
}

.personPage-content .lawyer-info>div {
    width: calc(50% - 10px);
}

.lawyer-schedule {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ebebeb;
}

.lawyer-schedule .radio {
    color: #fff;
    justify-content: center;
}

.lawyer-schedule .radio span {
    background-color: #fff;
}

.lawyer-schedule .radio span::after {
    background-color: var(--secondary-color);
}

.schedule-header {
    padding: 20px 40px;
    text-align: center;
    background-color: var(--primary-color);
}

.schedule-header div {
    margin-top: 10px;
    color: #fff;
}

.schedule-body {
    padding: 20px 40px;
}

.schedule-body>div {
    margin-bottom: 10px;
}

.schedule-body>:first-child {
    text-align: center;
}

.schedule-body>:first-child~div {
    display: flex;
}

.schedule-body>:first-child~div>span:last-child {
    flex-grow: 1;
    text-align: center;
    color: var(--primary-color);
}

.comment-swiper {
    padding: 0 0 50px 0;
}

.comment-slide {
    padding: 20px;
    background-color: #fff;
}

.comment-swiper .swiper-pagination {
    bottom: 0;
}

@media (min-width: 768px) {
    .section.personPage-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .personPage-content {
        padding: 70px 20px;
    }

    .personPage-content .small-area {
        width: calc(25% - 15px);
    }

    .personPage-content .big-area {
        width: calc(75% - 15px);
    }
}

@media (min-width: 992px) {
    .personPage-content {
        padding: 70px 100px;
    }
}