<% layout('../layout') %>
<section class="bg-gray">
  <div class="container">
    <% if(lawyerSide) { %>
    <div class="online-status">
      <label class="radio">
        <input class="auto" checked="" type="radio" name="online-status" />
        <span></span>
        在線上駐點中
      </label>
    </div>
    <% } %>
    <div
      class="aboutLawyerCardTab <%= lawyerSide ? 'aboutLawyerCardTab-6' : '' %>"
    >
      <div class="aboutLawyerCardTab-wrap">
        <div class="aboutLawyerCardTab-item">
          <a href="/aboutLawyerCard/">關於律卡</a>
        </div>
        <div class="aboutLawyerCardTab-item">
          <a href="/aboutLawyerCard/service">服務流程</a>
        </div>
        <div class="aboutLawyerCardTab-item">
          <a href="/aboutLawyerCard/Q&A">常見問題</a>
        </div>
        <% if(lawyerSide) { %>
        <div class="aboutLawyerCardTab-item">
          <a href="/aboutLawyerCard/want-post">我要投稿</a>
        </div>
        <% } %>
        <div class="aboutLawyerCardTab-item active">
          <a href="/aboutLawyerCard/privacy">隱私政策</a>
        </div>
        <div class="aboutLawyerCardTab-item">
          <a href="/aboutLawyerCard/use">使用條款</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>隱私權政策</h2>
    </div>
    <p class="aboutLawyerCard-text">
      使用律卡所提供服務前，請先詳閱下列條款事項：
      當您使用我們的產品和服務時，表示您已閱讀並同意遵守本使用者條款。
      律卡不提供未滿18歲人士使用。<br /><br />
      如果您代表公司、企業或其他機構使用本服務，您需要保證您有權代表該機構接受本條款。如果您不同意本條款或不能遵守它，您應立即停止使用本服務。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>政策適用範圍</h2>
    </div>
    <p class="aboutLawyerCard-text">
      此隱私權保護政策的內容，適用於『律卡』如何處理您使用網站服務時收集到的身份識別資料，也包括『律卡』在與合作律師分享時的所有身份識別資料。<br /><br />
      『律卡』以外的的相關連結網站，或非『律卡』所委託或參與管理的人員不適用此隱私權保護政策之內容。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>個人資料的搜集、處理與利用</h2>
    </div>
    <p class="aboutLawyerCard-text">
      當您瀏覽『律卡』或使用『律卡』所提供之功能服務時，我們將依該服務功能性質，請您提供必要的個人資料，並在該特定目的範圍內處理及利用您的個人資料。
      <br /><br />
      於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，作為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。
      <br /><br />
      為提供精確的服務，我們會將收集的資料內容進行統計與分析，分析結果之統計數據或說明文字呈現，除供內部研究外，我們會視需要公佈統計數據及說明文字，但不涉及特定個人之資料。
      <br /><br />
      此外，『律卡』會使用資料作以下的用途：改進為您提供的廣告及網頁內容、完成您對某項產品的要求及通知您特別活動、新產品或其他『律卡』服務相關訊息。
      <br /><br />
      依據《個人資料保護法》您可以向『律卡』行使以下權利： 查詢或請求閱覽；<br />
      請求製給複製本；<br />
      請求補充或更正；<br />
      請求停止蒐集、處理或利用；<br />
      請求刪除。<br />
      如您想行使上述權利，得隨時透過客服信箱與我們聯絡。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>與第三人共用資料</h2>
    </div>
    <p class="aboutLawyerCard-text">
      『律卡』絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業或公務機關，但在您提出特定服務要求或有法律依據、合約義務時，不在此限。<br /><br />

      前項但書之情形包括不限於：<br />
      經由您書面同意。<br />
      需要與第三人、事務所或公司共用您的資料，才能夠提供您要求的產品或服務。<br />
      法律明文規定。<br />
      為免除您生命、身體、自由或財產上之危險。<br />
      與公務機關或學術研究機構合作，基於公共利益為統計或學術研究而有必要，且資料經過提供者處理或蒐集著依其揭露方式無從識別特定之當事人。<br />
      當您在網站的行為，違反服務條款或可能損害或妨礙網站與其他使用者權益或導致任何人遭受損害時，經網站管理單位研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>監督責任</h2>
    </div>
    <p class="aboutLawyerCard-text">
      本網站委託廠商協助蒐集、處理或利用您的個人資料時，將對委外廠商或個人善盡監督管理之責。<br /><br />
      為了保護使用者個人隱私，
      我們無法為您查詢其他使用者的帳號資料，請您見諒！若您有相關法律上問題需查閱他人資料時，請務必循正當管道查詢，我們將全力配合如檢調單位調查並提供所有相關資料，以協助調查及破案！
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>Cookies</h2>
    </div>
    <p class="aboutLawyerCard-text">
      為了提供您最佳的服務，『律卡』會在您的電腦中放置並取用我們的Cookie，若您不願接受Cookie的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕Cookie的寫入，但可能會導至網站某些功能無法正常執行
      。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>資料安全</h2>
    </div>
    <p class="aboutLawyerCard-text">
      為保障會員的隱私安全，『律卡』會員帳號資料會用密碼保護；此外，我們盡力以合理之技術及程序，保障所有個人資料之安全。<br />
      個人資料查詢或更正的方式<br />
      會員對於其個人資料，有查詢及閱覽、製給複製本、補充或更正、停止電腦處理及利用、刪除等需求時，可以與客服中心聯絡，『律卡』將迅速進行處理。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>保全措施</h2>
    </div>
    <p class="aboutLawyerCard-text">
      為保障您的隱私安全，請妥善保管您的帳號密碼，以保護您的帳戶資料。
      部分情況下，我們使用使用通行標準的SSL保全系統，保障資料傳送的安全性。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>隱私權保護政策修訂</h2>
    </div>
    <p class="aboutLawyerCard-text">
      『律卡』隱私權保護政策將因應資料技術的發展、法規環境之需求隨時進行修正，修正後的條款將刊登於網站上。您如果對於『律卡』網站隱私權聲明、或與個人資料有關之相關事項有任何疑問，可以利用電子郵件和『律卡』客服中心聯絡。
    </p>
  </div>
</section>
