<% layout('../layout') %>
<section class="bg-gray">
  <div class="container">
    <% if(lawyerSide) { %>
    <div class="online-status">
      <label class="radio">
        <input class="auto" checked="" type="radio" name="online-status" />
        <span></span>
        在線上駐點中
      </label>
    </div>
    <% } %>
    <div
      class="aboutLawyerCardTab <%= lawyerSide ? 'aboutLawyerCardTab-6' : '' %>"
    >
      <div class="aboutLawyerCardTab-wrap">
        <div class="aboutLawyerCardTab-item">
          <a href="/aboutLawyerCard/">關於律卡</a>
        </div>
        <div class="aboutLawyerCardTab-item">
          <a href="/aboutLawyerCard/service">服務流程</a>
        </div>
        <div class="aboutLawyerCardTab-item">
          <a href="/aboutLawyerCard/Q&A">常見問題</a>
        </div>
        <% if(lawyerSide) { %>
        <div class="aboutLawyerCardTab-item">
          <a href="/aboutLawyerCard/want-post">我要投稿</a>
        </div>
        <% } %>
        <div class="aboutLawyerCardTab-item">
          <a href="/aboutLawyerCard/privacy">隱私政策</a>
        </div>
        <div class="aboutLawyerCardTab-item active">
          <a href="/aboutLawyerCard/use">使用條款</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>服務條款：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      使用律卡所提供服務前，請先詳閱下列條款事項：
      <br /><br />
      當您使用我們的產品和服務時，表示您已閱讀並同意遵守本使用者條款。
      律卡不提供未滿18歲人士使用。
      如果您代表公司、企業或其他機構使用本服務，您需要保證您有權代表該機構接受本條款。如果您不同意本條款或不能遵守它，您應立即停止使用本服務。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>一、註冊帳號：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      為了使用諮詢服務的功能，您需要註冊成為會員並提供完整、準確、真實的帳號資訊。請妥善保管密碼並負責透過該帳號進行的所有活動。不要與他人分享或轉讓帳號。登出帳號以維護安全並避免重複使用密碼。如果帳號或密碼遭盜用，請立即通知我們。我們將不負責因帳號或密碼不當使用造成的損失。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>二、我們提供的服務項目：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      我們致力於使用科技縮短法律服務與民眾之間的距離，推動律師服務的普及化。為了實現這一目標，我們向您提供線上諮詢平台租用服務，並依使用時間向使用者收取相應租金及應轉付給合作律師之諮詢費用：<br /><br />
      1.
      當律卡提供您線上服務使用權限時，您得透過律卡與合作律師線上諮詢，與此同時律卡會向您收取提供諮詢平台服務之租金。<br /><br />
      2.
      簽約合作之律師，在遵守適用法律、法規及律師倫理之前提下，將透過律卡平台提供諮詢服務給您，應收諮詢費用由律卡代為收受轉交給合作律師。<br /><br />
      3.
      律卡將努力讓您盡快找到適合的律師諮詢，但因各地網路環境、簽約合作律師之作為或不作為等獨立因素，皆可能導致服務提供的遲延，甚至無法提供。<br /><br />
      4.
      您可以在合作律師確認沒有利益衝突前取消諮詢，不會向您收取任何費用。但當合作律師確認沒有利益衝突後，將依照下列方式處理您取消服務後已刷卡或已交付之款項：<br /><br />
      (1) 已經開始諮詢的情形：<br /><br />
      當合作律師已確認並開始諮詢時，您自己取消或拒絕，或由於其他可歸責於您自己的因素，而無法接受合作律師提供的諮詢服務時，律卡將依照最低30分鐘或實際已諮詢的時間(以時間較高者為準)收取應轉給合作律師的諮詢費用及律卡之平台服務費用後，將剩餘款項退還給您。<br /><br />
      (2) 已預約線上諮詢欲變更預約時間的情形：<br /><br />
      當合作律師已確認無利益衝突且接受預約時間後，您因故須提出變更時間申請而原預約的合作律師無法配合，您可再更換其他律師或取消預約申請退款，惟此二種情形，律卡將再收取新台幣1,000元之處理費(彌補原預約律師之損失)。<br /><br />
      5.
      若諮詢時因可歸責於律卡或合作律師之原因而取消或終止線上諮詢服務，您有權就剩餘之時數申請全額退款。<br /><br />
      6.
      又為讓律師可以評估是否有利害衝突之虞，還請於開始諮詢前提供已知之當事人真實姓名或概述案件內容，若因您未提供或僅提供化名、暱稱，致合作律師於開始諮詢後才發現有利害衝突，合作律師將立即停止諮詢，律卡將比照前開第4項第(1)款為您辦理退款事宜。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>三、個人資料及隱私權保護：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      我們想要建立一個友好且安全的諮詢管道，讓遇到法律問題的使用者可以得到專業律師無保留的解答，也不用擔心自己提問的內容被其他人知悉，更不會被人作任何不當利用，所以使用律卡的服務前，需要您同意律卡的隱私權政策。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>四、意思表示之通知：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      律卡得以電子郵件、一般信件、文字訊息、簡訊、多媒體訊息、推播通知或應用程式內訊息、電話等方式為意思表示之通知。<br />
      當您同意本服務條款並使用任何授權方式存取律卡服務時，即表示同意接收律卡的所有通知。您需要對使用您的帳號和所有透過您的帳號進行的活動負責，請妥善保管密碼並勿與他人分享或轉讓您的帳號。<br />
      律卡會不定期發送電子報或相關訊息(EDM)至您登錄的電子信箱帳號，您可以在該訊息或電子郵件上提供您隨時停止接收這些資料或電子郵件之方法與說明。如果您想停止接收任何行銷訊息，可以隨時通知律卡取消本服務。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>五、智慧財產權：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      我們尊重使用者的智慧財產權，您在律卡上提供含有智慧財產權之內容完全屬於您所有，不會因為提供內容而被剝奪這些權利。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>六、一般使用者條款：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      (一)案件登錄：<br />
      當您透過律卡登錄案件資料，您的所登錄的資訊將傳送給合作律師且該合作律師將確認是否有利害衝突之虞。在合作律師確認無利益衝突問題，並於我們通知您確認您的諮詢請求已被接受時，您與合作律師間就個案法律諮詢已成立委任契約。您將有義務支付所有使用您的帳戶請求諮詢的費用及律卡提供平台的租用費。<br /><br />

      (二)律卡保證合作律師均具備法定資格：<br />
      律卡在與合作律師簽約前，均確認過合作律師之律師資格及懲戒紀錄，如您有發現並非律師提供您諮詢服務，還請透過網頁或應用程式幫助頁面向我們反應，若有錄音或錄影、畫面截圖亦請您檢附，經確認後，律卡會免費協助您更換其他合作律師，或全額退費。<br /><br />

      (三)保持可連上網路之環境<br />
      您必須確保您請求合作律師提供諮詢服務時的網路環境可維持通暢連線，若因您處在存有連線障礙的環境，導致合作律師等待您連線超過10分鐘以上仍無法提供諮詢服務時，合作律師有權終止提供諮詢服務，律卡並將依照最低30分鐘或實際已諮詢的時間(以時間較高者為準)收取應轉給合作律師的諮詢費用及律卡之平台服務費用後，將剩餘款項退還給您。惟若因不可歸責您的事由而無法連上網，包括但不限於如電信業者大規模線路故障，可向律卡反應，並請提供相關資料，經審核後將專案辦理退款。<br /><br />

      (四)您主動取消或預約的情形：<br />
      您可以在合作律師確認沒有利益衝突前取消諮詢，不會向您收取任何費用。但當合作律師確認沒有利益衝突後，將依照下列方式處理您取消服務後之款項：<br /><br />
      1. 已經開始諮詢的情形：<br />
      當合作律師已確認並開始諮詢時，您自己取消或拒絕，或由於其他可歸責於您自己的因素，而無法接受合作律師提供的諮詢服務時，律卡將依照最低30分鐘或實際已諮詢的時間(以時間較高者為準)收取應轉給合作律師的諮詢費用及律卡之平台服務費用後，將剩餘款項退還給您。<br /><br />
      2. 已預約線上諮詢欲變更預約時間的情形：<br />
      當合作律師已確認無利益衝突且接受預約時間後，您因故須提出變更時間申請而原預約的合作律師無法配合，您可再更換其他律師或取消預約申請退款，惟此二種情形，律卡將再收取新台幣1,000元之處理費(彌補原預約律師之損失)。<br /><br />

      (五)因合作律師取消之情形：<br />
      若諮詢時因可歸責於律卡或合作律師之原因而取消或終止線上諮詢服務，您有權就剩餘之時數申請全額退款。屆時律卡也可能提供點數或優惠折扣碼於您的帳戶以反應因此對您造成的不便。<br /><br />

      (六)優惠活動之限制<br />
      律卡不定期會提供您優惠折扣碼，用以折抵諮詢服務過程中您應支付之所有費用，惟諮詢範圍會受到各類優惠活動之限制，若您提出超出限制之問題，合作律師可以拒絕回答您的諮詢，而您仍應支付諮詢費用，例如書狀諮詢優惠，僅限於諮詢該類書狀之相關問題，若超出該範圍而詢問，合作律師有權拒絕回答。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>七、使用者授與律卡之權限：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      部分「服務」可以讓您上傳、提交、儲存、傳送或接收內容，但您仍然保有相關內容中您擁有的智慧財產權。為了提供您與其他使用者服務，我們需要您授予我們部分權限。<br />
      當您上載、提交、儲存或傳送內容到「服務」上，或在律卡接收內容，或透過「服務」進行以上操作時，即表示您授予律卡(及合作律師)
      永久、全球通用的授權，可使用、代管、儲存、重製、修改、製作衍生作品、傳播、發佈、公開操作、公開展示與散佈這類內容。您於本項授權授予的權利僅限用於營運、宣傳與改善「服務」，以及開發新的服務。即使您刪除帳號、停止使用「服務」，本項授權仍持續具有效力。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>八、付款及稅負：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      (一)付款：<br />
      就透過應用程式訂購之每一筆訂單，您將支付諮詢費用給合作律師及支付租用平台費用給律卡（合稱「費用」）。租用平台費用將依使用時間計算。每個合作律師皆有權自行決定預約諮詢的收費標準及願意開放諮詢的地區或案件類型，各該資訊有可能與您私下詢問合作律師有所差異。
      該諮詢費用的支付，係由律卡以合作律師收款付款代理人身份，代表合作律師協力完成。透過前述方式完成該諮詢費用的支付，與您直接付款予合作律師，二者應被視為相同。費用應含稅。除非經律卡確定或符合消費者保護法之規定，您支付的費用係最終金額且不可退費。所有該費用應視為立即屆清償期，且律卡將依您帳戶設定的優先付款方式，協助完成該筆費用之支付。若您設定的優先付款方式被認定已到期、無效或發生其他問題致無法扣款，您同意律卡基於合作律師收款付款代理人之身份，以您帳戶內設定的第二種付款方式進行扣款（如有適用）。在預約諮詢的情況，您可選擇在藉由支付現金以直接支付給合作律師。您可在下訂單前於網頁或應用程序中選擇「現金」支付選項。<br /><br />
      (二)收據與統一發票：<br />
      律卡及合作律師將分別向您提供諮詢費用之收據以及租用平台服務之統一發票。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>九、免責條款：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      除律卡依消費者保護法所要求外，本服務均按「現況」及「現有」基礎提供。律卡不作任何未在本條款中明確列明的明示、暗示或法定聲明及保證，包括適合性、符合特定目的及不侵權的任何暗示之保證。律卡亦不會就有關本服務或透過使用本服務獲得的任何服務或商品的可靠性、即時性、答覆內容之正確性、適用性或可用性，或本服務將不間斷或無故障運行作出任何聲明、保證或擔保。律卡亦不會就合作律師的服務品質或服務能力作出任何擔保。您同意，在適用法律所允許的最大範圍內，包含台灣消費者保護法，所有因您使用本服務及任何相關的服務或商品帶來的風險均與您自身相關。<br />
      由於我們無法控制或指示律卡使用者的言行，因此我們對於使用者的動作或行為（無論線上或離線）及他們發布、分享的任何內容（包括有冒犯性、言詞不當、猥褻、違法和其他令人反感的內容）不負任何責任。<br />
      律卡無法預測服務何時會發生問題，因此，我們應承擔的責任以適用法律所允許的最大範圍為限。此外，在任何情況下，我們對於您的任何利益、收入、資訊及資料損失，以及因本條款或律卡服務所引起或與之相關的連帶、特殊、間接、懲罰性、懲戒性或偶發性損害，均不負任何責任，即使在我們得知可能發生使等損害的情況下也是如此。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>十、終止提供服務之情形：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      如律卡合理懷疑以下事項，律卡可能會未經通知限制您存取或使用服務：<br /><br />
      1. 您已經或可能違反本條款；及/或<br /><br />
      2.
      您不符合或可能不符合依據適用法律、律卡及其關係企業標準或政策所定存取及使用本服務之資格。<br /><br />
      律卡可以對您終止本條款或終止您存取任何服務，且律卡可能終止本條款或任何與您有關之服務，或廣泛性的中止提供及拒絕您存取本服務或任何部分之本服務，如律卡合理懷疑以下事項，將立即性終止：<br /><br />
      1. 您已經或可能重大違反本條款及/或；<br /><br />2.
      您不符合或可能不符合依據適用法律、本條款所定存取及使用本服務之資格；或<br /><br />3.
      律卡得為任何合法業務、合法及合規之理由，以2日前之書面通知合理地終止本條款或任何本服務。<br /><br />
      如您在任何時候違反本條款，律卡可以隨時立即限制或停用您對於應用程式之存取，且律卡可以隨時立即限制或停用您對於服務之存取，且不構成其於本條款下其他權利之限制。
      您得隨時以任何理由透過應用程式「設置-隱私設置-刪除帳戶」終止本條款。如果您刪除您的律卡帳戶，您的帳戶將立即被停用。15日後，您的帳戶將永久被刪除。律卡可能會在帳戶刪除後在法律的要求或允許下保留若干資訊。
    </p>
  </div>
</section>
<section class="section aboutLawyerCard-section">
  <div class="container">
    <div class="section-title color-primary">
      <h2>十一、準據法與管轄：</h2>
    </div>
    <p class="aboutLawyerCard-text">
      本服務條款的解釋與適用，以及您與我們之間因本條款或律卡服務所引起的任何爭議、訴訟或索賠，皆依照中華民國法律予以處理，並以台灣台北地方法院為第一審管轄法院，但若法律對於管轄法院另有強制規定者，仍應依其規定。
    </p>
  </div>
</section>
