<% layout('../layout') %>
<section class="bg-gray">
  <div class="container">
    <div class="lawyerCardBlogTab">
      <div class="lawyerCardBlogTab-wrap">
        <div class="lawyerCardBlogTab-item">
          <a href="/lawyerCardBlog">首頁</a>
        </div>
        <div class="lawyerCardBlogTab-item active">
          <a href="/lawyerCardBlog/brand-board">品牌專欄</a>
        </div>
        <div class="lawyerCardBlogTab-item"><a href="#">最新文章</a></div>
        <div class="lawyerCardBlogTab-item">
          <a href="/lawyerCardBlog/lawer-board">律師專欄</a>
        </div>
        <div class="lawyerCardBlogTab-item">
          <a href="/lawyerCardBlog/law-knowledge">法律常識</a>
        </div>
        <div class="lawyerCardBlogTab-item">
          <a href="/lawyerCardBlog/hot-topic">熱門話題</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section lawyerCardBlog-section">
  <div class="container">
    <div class="section-title">
      <h2 class="color-primary">品牌專欄</h2>
    </div>
    <div class="card-area lawyer-area lawyer-area-1">
      <div class="big-area brd-color-primary">
        <div class="card mb-0">
          <div class="card-img">
            <img src="https://picsum.photos/id/180/410/270" alt="" />
            <div class="card-title">
              <h3>專欄標題</h3>
            </div>
          </div>
          <div class="card-paragraph">
            <p>
              訴訟是指當事⼈因權益糾紛⽽向法院提出申請，進⾏爭議解決程序的過程。這是
              ⼀個非常重要的程序，因為它能夠解決許多不同類型的糾紛和爭議，並保護當事
              ⼈的權益。
            </p>
          </div>
        </div>
        <div class="card mb-0">
          <div class="card-img">
            <img src="https://picsum.photos/id/367/410/270" alt="" />
            <img src="https://picsum.photos/id/367/410/270" alt="" />
          </div>
          <div class="card-paragraph">
            <p>
              瑞士《週日報》（SonntagsZeitung）今（2）報導指出，瑞銀併購瑞信前，各自有7萬2000多名和5萬多名員工，然而在瑞士政府避免全球金融崩盤而大力促成下，於3月19日匆促安排由瑞銀收購瑞信
            </p>
          </div>
        </div>
      </div>
      <div class="small-area">
        <div class="card">
          <div class="card-img">
            <img src="https://picsum.photos/id/369/410/270" alt="" />
            <div class="card-title">
              <h3>專欄標題</h3>
            </div>
          </div>
          <div class="card-paragraph brd-color-primary">
            <p>
              創立於20XX年，隨著時代及科技迅 速變遷，國際間交易往來的......
              (more)
            </p>
            <span class="card-date color-primary bg-white">2023.4.2</span>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="https://picsum.photos/id/369/410/270" alt="" />
            <div class="card-title">
              <h3>專欄標題</h3>
            </div>
          </div>
          <div class="card-paragraph brd-color-primary">
            <p>
              創立於20XX年，隨著時代及科技迅 速變遷，國際間交易往來的......
              (more)
            </p>
            <span class="card-date color-primary bg-white">2023.4.2</span>
          </div>
        </div>
        <div class="card mb-0">
          <div class="card-img">
            <img src="https://picsum.photos/id/369/410/270" alt="" />
            <div class="card-title">
              <h3>專欄標題</h3>
            </div>
          </div>
          <div class="card-paragraph brd-color-primary">
            <p>
              創立於20XX年，隨著時代及科技迅 速變遷，國際間交易往來的......
              (more)
            </p>
            <span class="card-date color-primary bg-white">2023.4.2</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
