<% layout('../layout') %>
<section class="bg-gray">
  <div class="container">
    <div class="lawyerCardBlogTab">
      <div class="lawyerCardBlogTab-wrap">
        <div class="lawyerCardBlogTab-item">
          <a href="/lawyerCardBlog">首頁</a>
        </div>
        <div class="lawyerCardBlogTab-item">
          <a href="/lawyerCardBlog/brand-board">品牌專欄</a>
        </div>
        <div class="lawyerCardBlogTab-item"><a href="#">最新文章</a></div>
        <div class="lawyerCardBlogTab-item">
          <a href="/lawyerCardBlog/lawer-board">律師專欄</a>
        </div>
        <div class="lawyerCardBlogTab-item active">
          <a href="/lawyerCardBlog/law-knowledge">法律常識</a>
        </div>
        <div class="lawyerCardBlogTab-item">
          <a href="/lawyerCardBlog/hot-topic">熱門話題</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section lawyerCardBlog-section">
  <div class="container">
    <div class="section-title">
      <h2 class="color-primary">法律常識</h2>
    </div>
    <div class="card-area lawyer-area lawyer-area-4">
      <div class="card mb-md-0">
        <div class="card-img">
          <img src="https://picsum.photos/id/372/500/200" alt="" />
          <div class="card-title">
            <h3>專欄標題</h3>
          </div>
        </div>
        <div class="card-paragraph brd-color-primary">
          <div class="card-paragraph-flex">
            <div>
              <h4>訴訟程序通常由以下幾個步驟組成：</h4>
              <p>
                訴訟是指當事人因權益糾紛而向法院提出申請，進行爭議解決程序的過程。這是一個非常重要的程序，因為它能夠解決許多不同類型的糾紛和爭議，並保護當事人的權益。<br /><br />
                訴訟程序通常由以下幾個步驟組成：<br /><br />
                首先，當事人向法院提出申請，包括起訴狀、申訴書等等。其次，法院對申請進行受理，開始進行審理程序，包括審理、調查等等。
                訴訟程序通常由以下幾個步驟組成：<br /><br />
                訴訟是指當事人因權益糾紛而向法院提出申請，進行爭議解決程序的過程。這是一個非常重要的程序，因為它能夠解決許多不同類型的糾紛和爭議，並保護當事人的權益。<br /><br />
                訴訟程序通常由以下幾個步驟組成：<br /><br />
                首先，當事人向法院提出申請，包括起訴狀、申訴書等等。其次，法院對申請進行受理，開始進行審理程序，包括審理、調查等等。最.....(more)
              </p>
            </div>
            <img src="https://picsum.photos/id/395/410/500" alt="" />
          </div>
          <span class="card-date color-primary bg-white">2023.4.2</span>
        </div>
      </div>
      <% for(var i = 0; 3 > i; i++){ %>
      <div class="card mb-md-0">
        <div class="card-img">
          <img src="https://picsum.photos/id/376/410/270" alt="" />
          <div class="card-title">
            <h3>專欄標題</h3>
          </div>
        </div>
        <div class="card-paragraph brd-color-primary">
          <p>
            訴訟是指當事⼈因權益糾紛⽽向法院提出申請，進⾏爭議解決程序的過程。這是
            ⼀個非常重要的程序，因為它能夠解決許多不同類型的糾紛和爭議，並保護當事
            ⼈的權益。
          </p>
          <span class="card-date color-primary bg-white">2023.4.2</span>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
